.certificates/
.vs/
bin/

ClickToDial/bin/
ClickToDial/obj/
ClickToDialSetup/bin/
ClickToDialSetup/obj/
CodeSigning/bin/
CodeSigning/obj/

packages/

Installer/Output/
Installer/Uninstaller/
setup/*.exe

*.suo
*.user

fairmanager-production-codesign.pfx
